/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.workout-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
@media (max-width:900px) {
  .home{
    display: grid;
    grid-template-columns: 1fr;
  }
  .workouts{
    order: 2;
  }
}
/* new workout form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}
/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}

/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}
/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a, nav button {
  margin-left: 10px;
}
nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}
.container {
  /* background-color: #000000; */
  position: sticky;
  top: 0;
  z-index: 10000000000000999;
}

.nav {

  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10000000000000999;
  cursor: pointer;
  max-width: 1920px;
  /* margin: 0 auto; */

}

.nav img {
  width: 120px;

}

.nav ul {
  display: flex;
  margin-left: auto;
  align-items: center;
  z-index: 9999;
  /* gap: 1em; */
}

.nav li {
  list-style: none;
  /* display: grid; */
  place-items: center;
  /* height: 40px; */
  cursor: pointer;
  width: 120px;
}

.nav .tabs {
  list-style: none;
  display: flex;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16;
  line-height: 27px;
  color: #000000;
}
ul>div{
  display: flex;
}
.nav .tabs.activetabs {
  text-align: center;
  padding: 5px 0;
  border-bottom: 3px solid #ff0000;
}
.nav_btn {
  margin-right: 10px;
  top: 20px;
  display: none;
}

.one {
  background-color: #000000;
  height: 4px;
  width: 30px;
  margin-bottom: 6px;
}

.two {
  background-color: #000000;
  height: 4px;
  width: 30px;
  margin-bottom: 6px;
}

.three {
  background-color: #000000;
  height: 4px;
  width: 30px;
  /* margin-bottom: 2px; */
}

@media (max-width:900px) {
  .nav {
      padding: 1em 1em;
      position: inherit;
  }
  .nav h1{
    font-size: 20px;
  }
  nav a{
    font-size: 16px;
    gap: 1em;
  }
  .nav_btn {
      display: block;
      z-index: 0;

  }
  ul>div{
    display: flex;
    flex-direction: column;
  }

  .nav .flow {
      position: fixed;
      inset: 0 0 0 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      background-color: #ffff;
      margin-left: 0;
      place-items: center;
      text-align: center;
      transition: .5s;
      transform: translateX(100vh);
      z-index: 999;
      margin: 0 0 0 0;
  }

  .nav ul {
      margin-left: 0;
      padding-left: 0;
  }

  .nav .flow.responsive_nav {
      transform: none;
  }

  .nav_btn {
      margin-left: auto;
  }

  .nav_btn.nav_close_btn {
      position: absolute;
      top: 10px;
      right: 2px;
      width: 22px;
  }

  .nav img {
      width: 70%;

  }
}
/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}